<div class="container login h-100">
    <div class="connect my-sm-5">
        <div class="loginContain row m-0 shadow">
            <div class="col-12 col-md-6 formulaire">
                <div class="px-3">
                    <a href="" class=""><img src="/assets/images/auth/logo-removebg-preview.png" alt=""
                            class="imgFluid"></a>
                    <h2 class="mb-3 text-center">Inscrivez-vous</h2>
                    <form action="" class="">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="mb-3 inputs">
                                    <label for="prenom" class="form-label">Prénom</label>
                                    <input type="text" name="prenom" id="prenom" class="form-control">
                                </div>

                                <div class="mb-3 inputs">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" id="email" class="form-control">
                                </div>

                                <div class="mb-3 inputs">
                                    <label for="adresse" class="form-label">Adresse</label>
                                    <input type="text" name="adresse" id="adresse" class="form-control">
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="mb-3 inputs">
                                    <label for="nom" class="form-label">Nom</label>
                                    <input type="text" name="nom" id="nom" class="form-control">
                                </div>

                                <div class="mb-3 inputs">
                                    <label for="password" class="form-label">Mot de passe</label>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>

                                <div class="mb-3 inputs">
                                    <label for="email" class="form-label">Téléphone</label>
                                    <input type="email" name="email" id="email" class="form-control">
                                </div>
                                <input type="hidden" value="acheteur" name="role" />
                            </div>
                        </div>

                        <div class="bouton mt-4">
                            <button class="btn w-50">S'inscrire</button>
                        </div>

                        <p class="mt-5 inscription ">
                            Vous avez déja un compte ?
                            <a class="fw-bold" style="cursor: pointer;" routerLink="/login">
                                Connectez-vous
                            </a>
                        </p>

                    </form>
                </div>
            </div>
            <div class="col-12 col-md-6 p-0">
                <img src="/assets/images/auth/profilConnect2.png" class="img-fluid profilImg w-100 h-100" alt="tets">
            </div>
        </div>
    </div>
</div>