<app-navbar></app-navbar>
<div class="bannerAccueil mt-5">
    <!-- <img src="../../../assets/ban2.svg" class="img-fluid" alt=""> -->
    <!-- gjhcdjhj -->
    <div class="containBanner w-50">
        <h1>Trouvez le bon <br> véhicule pour vous !</h1>
        <p class="bannerP">Plateforme d'annonces de vente de véhicules 100% fiable</p>
        <button class="btn mt-3">
            <a class="text-decoration-none text-light fw-bold" routerLink="/login">Vendez votre véhicule</a>
        </button>
    </div>
</div>

<section class="annonces py-3">
    <h1 class="text-center mt-3 mb-3">Les annonces les plus mises en avant</h1>
    <div class="trait m-auto"></div>

    <div class="carteAnnonces container mt-4">
        <div class="row cartes m-0 g-4" [attr.data-aos]="'fade-up'" [attr.data-aos-duration]="800" [attr.data-aos-delay]="500">
            <div class="col-12 col-md-4">
                <div class="card shadow">
                    <div class="cardImg mx-3">
                        <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="cardTitle mx-3">
                        <span class="nom">Version Acura Sport</span>
                        <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid"
                                alt=""></span>
                    </div>
                    <div class="cardTrait mb-3 mt-3"></div>
                    <div class="cardDetails mx-3">
                        <div class="left">
                            <p><img src="/assets/images/iconSvg/moteur.svg" class="" alt="">6 Cylindres</p>
                            <p><img src="/assets/images/iconSvg/calendar.svg" alt="">2019</p>
                            <p><img src="/assets/images/iconSvg/Transmission.svg" alt="">Transmission</p>
                        </div>
                        <div class="Right">
                            <p><img src="/assets/images/iconSvg/dashboard.svg" alt="">42 KM</p>
                            <p><img src="/assets/images/iconSvg/fuel.svg" alt="">essence</p>
                            <p><img src="/assets/images/iconSvg/money.svg" alt="">3.000.000 Fcfa</p>
                        </div>
                    </div>
                    <div class="cardTrait"></div>
                    <div class="cardButton mx-3 my-3">
                        <button class="btn"><a routerLink="/vehicules/voitures/detailVoiture">Consulter l'annonce</a></button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow">
                    <div class="cardImg mx-3">
                        <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="cardTitle mx-3">
                        <span class="nom">Version Acura Sport</span>
                        <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid"
                                alt=""></span>
                    </div>
                    <div class="cardTrait mb-3 mt-3"></div>
                    <div class="cardDetails mx-3">
                        <div class="left">
                            <p><img src="/assets/images/iconSvg/moteur.svg" class="" alt="">6 Cylindres</p>
                            <p><img src="/assets/images/iconSvg/calendar.svg" alt="">2019</p>
                            <p><img src="/assets/images/iconSvg/Transmission.svg" alt="">Transmission</p>
                        </div>
                        <div class="Right">
                            <p><img src="/assets/images/iconSvg/dashboard.svg" alt="">42 KM</p>
                            <p><img src="/assets/images/iconSvg/fuel.svg" alt="">essence</p>
                            <p><img src="/assets/images/iconSvg/money.svg" alt="">3.000.000 Fcfa</p>
                        </div>
                    </div>
                    <div class="cardTrait"></div>
                    <div class="cardButton mx-3 my-3">
                        <button class="btn"><a routerLink="/vehicules/motos/detailMoto">Consulter l'annonce</a></button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow">
                    <div class="cardImg mx-3">
                        <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="cardTitle mx-3">
                        <span class="nom">Version Acura Sport</span>
                        <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid"
                                alt=""></span>
                    </div>
                    <div class="cardTrait mb-3 mt-3"></div>
                    <div class="cardDetails mx-3">
                        <div class="left">
                            <p><img src="/assets/images/iconSvg/moteur.svg" class="" alt="">6 Cylindres</p>
                            <p><img src="/assets/images/iconSvg/calendar.svg" alt="">2019</p>
                            <p><img src="/assets/images/iconSvg/Transmission.svg" alt="">Transmission</p>
                        </div>
                        <div class="Right">
                            <p><img src="/assets/images/iconSvg/dashboard.svg" alt="">42 KM</p>
                            <p><img src="/assets/images/iconSvg/fuel.svg" alt="">essence</p>
                            <p><img src="/assets/images/iconSvg/money.svg" alt="">3.000.000 Fcfa</p>
                        </div>
                    </div>
                    <div class="cardTrait"></div>
                    <div class="cardButton mx-3 my-3">
                        <button class="btn"><a routerLink="/vehicules/utilitaires/detailUtilitaire">Consulter l'annonce</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cartes mt-5 g-4" [attr.data-aos]="'fade-up'" [attr.data-aos-duration]="800" [attr.data-aos-delay]="500">
            <div class="col-12 col-md-4">
                <div class="card shadow">
                    <div class="cardImg mx-3">
                        <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="cardTitle mx-3">
                        <span class="nom">Version Acura Sport</span>
                        <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid"
                                alt=""></span>
                    </div>
                    <div class="cardTrait mb-3 mt-3"></div>
                    <div class="cardDetails mx-3">
                        <div class="left">
                            <p><img src="/assets/images/iconSvg/moteur.svg" class="" alt="">6 Cylindres</p>
                            <p><img src="/assets/images/iconSvg/calendar.svg" alt="">2019</p>
                            <p><img src="/assets/images/iconSvg/Transmission.svg" alt="">Transmission</p>
                        </div>
                        <div class="Right">
                            <p><img src="/assets/images/iconSvg/dashboard.svg" alt="">42 KM</p>
                            <p><img src="/assets/images/iconSvg/fuel.svg" alt="">essence</p>
                            <p><img src="/assets/images/iconSvg/money.svg" alt="">3.000.000 Fcfa</p>
                        </div>
                    </div>
                    <div class="cardTrait"></div>
                    <div class="cardButton mx-3 my-3">
                        <button class="btn"><a routerLink="/vehicules/voitures/detailVoiture">Consulter l'annonce</a></button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow">
                    <div class="cardImg mx-3">
                        <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="cardTitle mx-3">
                        <span class="nom">Version Acura Sport</span>
                        <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid"
                                alt=""></span>
                    </div>
                    <div class="cardTrait mb-3 mt-3"></div>
                    <div class="cardDetails mx-3">
                        <div class="left">
                            <p><img src="/assets/images/iconSvg/moteur.svg" class="" alt="">6 Cylindres</p>
                            <p><img src="/assets/images/iconSvg/calendar.svg" alt="">2019</p>
                            <p><img src="/assets/images/iconSvg/Transmission.svg" alt="">Transmission</p>
                        </div>
                        <div class="Right">
                            <p><img src="/assets/images/iconSvg/dashboard.svg" alt="">42 KM</p>
                            <p><img src="/assets/images/iconSvg/fuel.svg" alt="">essence</p>
                            <p><img src="/assets/images/iconSvg/money.svg" alt="">3.000.000 Fcfa</p>
                        </div>
                    </div>
                    <div class="cardTrait"></div>
                    <div class="cardButton mx-3 my-3">
                        <button class="btn"><a routerLink="/vehicules/motos/detailMoto">Consulter l'annonce</a></button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow">
                    <div class="cardImg mx-3">
                        <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="cardTitle mx-3">
                        <span class="nom">Version Acura Sport</span>
                        <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid"
                                alt=""></span>
                    </div>
                    <div class="cardTrait mb-3 mt-3"></div>
                    <div class="cardDetails mx-3">
                        <div class="left">
                            <p><img src="/assets/images/iconSvg/moteur.svg" class="" alt="">6 Cylindres</p>
                            <p><img src="/assets/images/iconSvg/calendar.svg" alt="">2019</p>
                            <p><img src="/assets/images/iconSvg/Transmission.svg" alt="">Transmission</p>
                        </div>
                        <div class="Right">
                            <p><img src="/assets/images/iconSvg/dashboard.svg" alt="">42 KM</p>
                            <p><img src="/assets/images/iconSvg/fuel.svg" alt="">essence</p>
                            <p><img src="/assets/images/iconSvg/money.svg" alt="">3.000.000 Fcfa</p>
                        </div>
                    </div>
                    <div class="cardTrait"></div>
                    <div class="cardButton mx-3 my-3">
                        <button class="btn"><a routerLink="/vehicules/utilitaires/detailUtilitaire">Consulter l'annonce</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="a_propos py-3 container">
    <h1 class="text-center mt-3 mb-3">A propos de nous</h1>
    <div class="trait m-auto mb-1"></div>

    <div class="row m-0 g-4">
        <div class="col-12 col-md-6 p-5" [attr.data-aos]="'fade-up'" [attr.data-aos-duration]="800" [attr.data-aos-delay]="700">
            <img src="/assets/images/propos/p1.png" class="img-fluid" alt="">
        </div>
        <div class="col-12 col-md-6 right" [attr.data-aos]="'fade-in'" [attr.data-aos-duration]="800" [attr.data-aos-delay]="700">
            <div class="contentPropos">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.
                    Ut
                    enim minim veniam, quis nostrud exercice ullamco laboris nisi esse cillum dolore eu fugiat nulla
                    pariatur.Lorem
                    ipsum
                    dolor sit amet.

                    Consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    minim veniam, quis
                    nostrud exercice ullamco laboris nisi esse cillum dolore eu fugiat nulla pariaturt ut labore et
                    dolore magna aliqua.
                    Ut
                    enim minim veniam, quis nostrud exercice ullamco laboris nisi esse cillum dolore eu fugiat nulla
                    pariatur.

                    Ut enim minim veniam, quis nostrud exercice ullamco laboris nisi esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>

                <button class="mt-4 btn w-50">
                    <a href="">En savoir plus</a>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="blogs py-3 container">
    <h1 class="text-center mt-3 mb-3">Nos blogs</h1>
    <div class="trait m-auto mb-5"></div>

    <div class="row mt-5 cardBlogs">
        <div class="col-12 col-md-4 p-3" [attr.data-aos]="'fade-up'" [attr.data-aos-duration]="1000" [attr.data-aos-delay]="900">
            <div class="card px-3 shadow">
                <div class="cardImg mt-3">
                    <img src="/assets/images/blogs/b1.png" class="img-fluid shadow rounded-4" alt="">
                </div>
                <div class="card cardBody p-3 mx-3">
                    <div class="cardTitle">
                        <h4 class="text-center">L'avenir de la vente de véhicules</h4>
                    </div>
                    <div class="cardDetail">
                        <p class="textBlog">
                            Alors que la technologie continue de progresser à un rythme rapide,
                            le secteur de la vente de voitures est sur le point de connaître un changement
                            transformateur.
                            L’avenir de la vente de voitures promet.
                        </p>
                    </div>

                    <button class="btn mt-2">
                        <a routerLink="/blog/detailsBlog">En savoir plus</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 p-3" [attr.data-aos]="'fade-in'" [attr.data-aos-duration]="1000" [attr.data-aos-delay]="900">
            <div class="card px-3 shadow">
                <div class="cardImg mt-3">
                    <img src="/assets/images/blogs/b2.png" class="img-fluid shadow rounded-4" alt="">
                </div>
                <div class="card cardBody p-3 mx-3">
                    <div class="cardTitle">
                        <h4 class="text-center">L'avenir de la vente de véhicules</h4>
                    </div>
                    <div class="cardDetail">
                        <p class="textBlog">
                            Alors que la technologie continue de progresser à un rythme rapide,
                            le secteur de la vente de voitures est sur le point de connaître un changement
                            transformateur.
                            L’avenir de la vente de voitures promet.
                        </p>
                    </div>

                    <button class="btn mt-2">
                        <a routerLink="/blog/detailsBlog">En savoir plus</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 p-3" [attr.data-aos]="'fade-up'" [attr.data-aos-duration]="1000" [attr.data-aos-delay]="900">
            <div class="card px-3 shadow">
                <div class="cardImg mt-3">
                    <img src="/assets/images/blogs/b3.png" class="img-fluid shadow rounded-4" alt="">
                </div>
                <div class="card cardBody p-3 mx-3">
                    <div class="cardTitle">
                        <h4 class="text-center">L'avenir de la vente de véhicules</h4>
                    </div>
                    <div class="cardDetail">
                        <p class="textBlog">
                            Alors que la technologie continue de progresser à un rythme rapide,
                            le secteur de la vente de voitures est sur le point de connaître un changement
                            transformateur.
                            L’avenir de la vente de voitures promet.
                        </p>
                    </div>

                    <button class="btn mt-2">
                        <a routerLink="/blog/detailsBlog">En savoir plus</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="temoignages py-3 container-fluid mt-5 border">
    <div class="content">
        <h1 class="text-center">Que disent les gens à notre propos?</h1>

        <div id="carouselExampleIndicators" class="container carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-12 col-md-6 p-2">
                            <div class="teams card carte mx-3">
                                <div class="leftA"></div>
                                <div class="teamProf">
                                    <img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" width="60px"
                                        alt="">
                                    <span>Mark Dasilva A</span>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur. Ornare vel urna libero lectus fringilla
                                    tristique
                                    neque
                                    pellentesque
                                    netus.
                                    Diamenim posuere praesent a iaculis praesent ac. Massa.
                                </p>
                                <div class="rightB"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 p-2">
                            <div class="teams card carte mx-3">
                                <div class="leftA"></div>
                                <div class="teamProf">
                                    <img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" width="60px"
                                        alt="">
                                    <span>Mark Dasilva A</span>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur. Ornare vel urna libero lectus fringilla
                                    tristique
                                    neque
                                    pellentesque
                                    netus.
                                    Diamenim posuere praesent a iaculis praesent ac. Massa.
                                </p>
                                <div class="rightB"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-md-6 p-2">
                            <div class="teams carte mx-3">
                                <div class="leftA"></div>
                                <div class="teamProf">
                                    <img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" width="60px"
                                        alt="">
                                    <span>Mark Dasilva A</span>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur. Ornare vel urna libero lectus fringilla
                                    tristique
                                    neque
                                    pellentesque
                                    netus.
                                    Diamenim posuere praesent a iaculis praesent ac. Massa.
                                </p>
                                <div class="rightB"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 p-2">
                            <div class="teams card carte mx-3">
                                <div class="leftA"></div>
                                <div class="teamProf">
                                    <img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" width="60px"
                                        alt="">
                                    <span>Mark Dasilva A</span>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur. Ornare vel urna libero lectus fringilla
                                    tristique
                                    neque
                                    pellentesque
                                    netus.
                                    Diamenim posuere praesent a iaculis praesent ac. Massa.
                                </p>
                                <div class="rightB"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-md-6 p-2">
                            <div class="teams carte mx-3">
                                <div class="leftA"></div>
                                <div class="teamProf">
                                    <img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" width="60px"
                                        alt="">
                                    <span>Mark Dasilva A</span>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur. Ornare vel urna libero lectus fringilla
                                    tristique
                                    neque
                                    pellentesque
                                    netus.
                                    Diamenim posuere praesent a iaculis praesent ac. Massa.
                                </p>
                                <div class="rightB"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 p-2">
                            <div class="teams card carte mx-3">
                                <div class="leftA"></div>
                                <div class="teamProf">
                                    <img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" width="60px"
                                        alt="">
                                    <span>Mark Dasilva A</span>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur. Ornare vel urna libero lectus fringilla
                                    tristique
                                    neque
                                    pellentesque
                                    netus.
                                    Diamenim posuere praesent a iaculis praesent ac. Massa.
                                </p>
                                <div class="rightB"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

    </div>
</section>

<section class="bannerAnnonce py-4" [attr.data-aos]="'fade-up'" [attr.data-aos-duration]="800" [attr.data-aos-delay]="1000">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <p>Vous souhaitez vendre votre véhicule ? <br> N'attendez-plus !</p>
            </div>
            <div class="col-12 col-md-6 ">

                <div class="btnAnnonce">
                    <button class="btn mt-3 p-2">
                        <a routerLink="/login">Publier une annonce</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact py-5" [attr.data-aos]="'fade-in'" [attr.data-aos-duration]="800" [attr.data-aos-delay]="1000">
    <div class="containContact container">
        <div class="row">
            <div class="col-12 col-md-6 p-4">
                <div class="formContent">
                    <div class="">
                        <h4 class="text-center mb-3">Contactez-nous</h4>
                        <form action="" class="">
                            <div class="mb-3">
                                <label for="nomComplet">Nom complet</label>
                                <input type="text" class="form-control" id="nomComplet" name="nomComplet">
                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" rows="5" class="form-control"></textarea>
                            </div>

                            <div class="mt-4 d-flex justify-content-center align-content-center">
                                <button class="btn w-25 p-2 rounded-4">
                                    Envoyer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-0">
                <img src="/assets/images/contact/c1.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<app-scroll-button></app-scroll-button>

<!-- <app-scroll-button></app-scroll-button> -->
<app-footer></app-footer>