<div class="sidebar-content">
    <ul class="sidebarMenu">
        <li class="" routerLinkActive="activeLink"><a class="" routerLink="mes_annonces"><i class="fa-solid fa-bullhorn"></i>Annonces</a></li>
        <li class="" routerLinkActive="activeLink"><a href="" routerLink="mon_profil"><i class="fa-regular fa-user"></i>Profil</a></li>
    </ul>
    <div class="logoConnect m-auto ">
        <a href="" routerLink="mes_annonces">
            <img src="../../../../assets/images/logo2-removebg-preview.png" class="img-fluid w-100 h-100" alt="">
        </a>
    </div>

    <p class="disconnect"><a href="" routerLink="mes_annonces">Déconnexion</a></p>

</div>