<app-navbar></app-navbar>

<section class="bannerConfdt mt-3"></section>

<section class="py-4 mb-5 cfdts">
    <div class="cfdtsContainer container">
        <h2 class="text-center my-4">Notre politique de confidentialité</h2>
        <div class="trait mb-3"></div>

        <div class="cfdtsText mt-5">
            <p class="text">
                Bienvenue sur Autoconnect !
                <br>
                <br>
                La protection de vos données personnelles est une priorité pour nous. Cette politique de confidentialité vise à vous
                informer sur la manière dont nous collectons, utilisons, partageons et protégeons vos informations lorsque vous utilisez
                notre site web Autoconnect.
            </p>

            <h4>Collecte des informations</h4>
            <p class="text">
                Lors de l'utilisation de notre site, vous pourriez être amené(e) à nous fournir certaines informations personnelles,
                telles que votre nom, votre adresse e-mail, votre numéro de téléphone, votre adresse postale, etc., notamment lors de la
                création de votre compte ou de la publication d'une annonce.
                <br>
                <br>
                Nous pouvons également collecter automatiquement certaines informations lorsque vous naviguez sur le Site, telles que
                votre adresse IP, le type de navigateur que vous utilisez, les pages que vous consultez, etc. Ces informations sont
                recueillies à des fins statistiques et pour améliorer l'expérience utilisateur sur notre site.
            </p>

            <h4>Utilisation des informations</h4>
            <p class="text">
            Les informations que nous collectons sont utilisées dans le but de vous fournir nos services, de personnaliser votre
            expérience sur le Site, de traiter vos transactions, d'améliorer notre site et de vous informer sur nos produits et
            services. Nous ne vendons ni ne louons vos informations personnelles à des tiers sans votre consentement explicite.
            </p>

            <h4>Partage des informations</h4>
            <p class="text">
                Nous pouvons partager vos informations personnelles avec des tiers dans les cas suivants : Lorsque cela est nécessaire
                pour fournir nos services (par exemple, partager vos informations avec un vendeur lorsque vous exprimez un intérêt pour
                un véhicule). Lorsque cela est exigé par la loi ou pour protéger nos droits légaux.
            </p>

            <h4>Sécurité des informations</h4>
            <p class="text">
                Nous mettons en œuvre des mesures de sécurité pour protéger vos informations personnelles contre tout accès non
                autorisé, toute utilisation abusive ou toute divulgation.
            </p>

            <h4>Cookies et technologies similaires</h4>
            <p class="text">
                Nous utilisons des cookies et d'autres technologies similaires pour améliorer l'expérience utilisateur sur notre site.
                Vous pouvez modifier vos préférences de cookies dans les paramètres de votre navigateur.
            </p>

            <h4>Liens vers des sites tiers</h4>
            <p class="text">
                Notre site peut contenir des liens vers des sites web tiers. Nous ne sommes pas responsables des pratiques de
                confidentialité de ces sites. Nous vous encourageons à consulter les politiques de confidentialité de ces sites tiers.
            </p>

            <h4>Modification de notre politique de confidentialité</h4>
            <p class="text">
                Nous nous réservons le droit de mettre à jour cette politique de confidentialité à tout moment. Les modifications seront
                publiées sur cette page, et la date de la dernière mise à jour sera indiquée en haut de la page.

                <br>
                <br>

                Si vous avez des questions concernant notre politique de confidentialité, n'hésitez pas à nous contacter à l'adresse
                suivante : autoconnect@gmail.com.
            </p>
        </div>
    </div>
</section>

<app-scroll-button></app-scroll-button>

<app-footer></app-footer>