<app-navbar></app-navbar>

<section class="bannerContact mt-4"></section>

<section class="coods py-3 mb-4">
    <div class="coodsContainer container">
        <h2 class="text-center my-3">Nos coordonnées</h2>
        <div class="trait mb-3"></div>

        <div class="coodscartes mt-5">
            <div class="row m-0">
                <div class="col-12 col-md-4">
                    <div class="card py-3 px-2 shadow">
                        <span class="icon"><i class="fa-solid fa-phone"></i></span>
                        <p class="titrecoods">Numéro de téléphone</p>
                        <p class="textCoods">77 777 77 77</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card py-3 px-2 shadow">
                        <span class="icon mb-3 mt-3"><i class="fa-solid fa-envelope"></i></span>
                        <p class="titrecoods mb-3">autoconnect@gmail.com</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card py-3 px-2 shadow">
                        <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                        <p class="titrecoods">Emplacement</p>
                        <p class="textCoods">Dakar Cité Autoconnect</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="formContact py-1 mt-5">
    <div class="contactContain container">
        <div class="row m-5 RC">
            <div class="col-12 col-md-7 p-5 form">
                <div class=" formContain">
                    <h3 class="text-center mb-3">Contactez-nous</h3>
                    <form action="">
                        <div class="mb-3">
                            <label for="NomComplet">Nom complet</label>
                            <input type="text" class="form-control" name="Nomcomplet" id="NomComplet">
                        </div>
            
                        <div class="mb-3">
                            <label for="Email">Email</label>
                            <input type="email" class="form-control" name="Email" id="Email">
                        </div>
            
                        <div class="mb-3">
                            <label for="Message">Message</label>
                            <textarea name="Message" id="Message" class="form-control"></textarea>
                        </div>

                        <div class="bouton d-flex justify-content-center align-content-center">
                            <button class="btn w-25">
                                Envoyer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-5 p-0">
                <img src="../../../../assets/images/contact/profContact.png" class="img-fluid w-100" alt="">
            </div>
        </div>
    </div>
</section>

<section class="bannerEnd"></section>

<app-scroll-button></app-scroll-button>

<app-footer></app-footer>