<app-navbar></app-navbar>

<section class="bannerCondition mt-3"></section>

<section class="py-4 mb-5 cdt">
    <div class="cdtContainer container">
        <h2 class="text-center my-4">Nos termes et conditions</h2>
        <div class="trait mb-3"></div>

        <div class="cdtText mt-5">
            <p class="text">
                Bienvenue sur Autoconnect !
                <br>
                <br>
                Avant d'utiliser notre site web , veuillez lire attentivement les présentes Conditions Générales d'Utilisation ("les
                Conditions"). En accédant ou en utilisant le Site, vous acceptez d'être lié(e) par ces Conditions.
            </p>

            <h4>Utilisation du Site</h4>
            <p class="text">
                L'accès au Site est autorisé de manière temporaire, et nous nous réservons le droit de retirer ou de modifier les
                services que nous proposons sur le Site sans préavis.
                Nous déclinons toute responsabilité en cas de suspension ou d'interruption du Site pour quelque raison que ce soit.
                <br>
                <br>
                Certains services du Site peuvent nécessiter une inscription. Lors de l'inscription, vous vous engagez à fournir des
                informations exactes, à jour et complètes. Vous êtes responsable de la confidentialité de votre compte et de votre mot
                de passe, et vous acceptez de nous informer immédiatement de toute utilisation non autorisée de votre compte.
            </p>

            <h4>Contenu du Site</h4>
            <p class="text">
                Le Site permet la publication d'annonces de vente de véhicules. En publiant du contenu sur le Site, vous garantissez que
                vous avez le droit de le faire et que le contenu est conforme à la législation en vigueur. Nous nous réservons le droit
                de supprimer tout contenu qui enfreint ces Conditions ou qui est jugé inapproprié.
                <br>
                <br>
                Tout le contenu présent sur le Site, y compris mais sans s'y limiter, le texte, les graphiques, les logos, les images et
                le logiciel, est la propriété de Autoconnect ou de ses fournisseurs de contenu, et est protégé par les lois sur la
                propriété intellectuelle
            </p>

            <h4>Responsabilités</h4>
            <p class="text">
                Vous acceptez d'utiliser le Site conformément à toutes les lois applicables et de manière honnête et éthique. Vous êtes
                responsable de tout contenu que vous publiez sur le Site et de vos interactions avec d'autres utilisateurs.
                <br>
                <br>
                Nous nous efforçons de garantir que le Site est accessible et fonctionne correctement, mais nous ne pouvons pas garantir
                l'absence d'erreurs ou d'interruptions.
                Nous ne serons pas responsables des dommages directs, indirects, accessoires, spéciaux ou consécutifs résultant de
                l'utilisation ou de l'incapacité d'utiliser le Site.
            </p>

            <h4>Modification des Conditions</h4>
            <p class="text">
                Nous nous réservons le droit de modifier ces Conditions à tout moment. Les modifications seront effectives dès leur
                publication sur le Site.
                <br>
                <br>
                Il est de votre responsabilité de consulter régulièrement ces Conditions pour être informé(e) des éventuelles
                modifications.
                <br> 
                <br>
                Si vous avez des questions concernant ces Conditions, veuillez nous contacter à l'adresse suivante :
                autoconnect@gmail.com
            </p>
        </div>
    </div>
</section>

<app-scroll-button></app-scroll-button>

<app-footer></app-footer>