<div class="profilContain py-3 mx-4">
    <h3 class="navTitle mb-3"><a href="">Mon profil /</a></h3>

    <div class="profil mt-4 shadow rounded-4 py-3 px-4">
        <div class="profilhead">
            <h3>Modifier mon profil</h3>
        </div>
        <hr>
        <div class="profilBody">

            <form action="">
                <div class="profilInfos row">
                    <div class="profilImg col-12 col-md-5">
                        <img src="/assets/images/profil/profil1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="profilDetail col-12 col-md-7">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="mb-3">
                                    <label for="prenom" class="form-label">Prénom</label>
                                    <input type="text" class="form-control" value="Adama" name="prenom" id="prenom">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" value="adamadiouf@gmail.com" name="email" id="email">
                                </div>
                                <div class="mb-3">
                                    <label for="telephone" class="form-label">Téléphone</label>
                                    <input type="tel" class="form-control" value="77 777 77 77" name="telephone" id="telephone">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mb-3">
                                    <label for="nom" class="form-label">Nom</label>
                                    <input type="text" class="form-control" value="Diouf" name="nom" id="nom">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Mot de passe</label>
                                    <input type="text" class="form-control" value="********" name="password" id="password">
                                </div>
                                <div class="mb-3">
                                    <label for="adresse" class="form-label">Adresse</label>
                                    <input type="text" class="form-control" value="Dakar" name="adresse" id="adresse">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="imgProfil" class="form-label">Photo de profil</label>
                            <input type="text" class="form-control" name="imgProfil" id="imgProfil" value="photo">
                        </div>
                    </div>
                </div>

                <hr>
                <h3>Description</h3>
                <hr>
                <label for="description" class="form-label">Décrivez-vous</label>
                <textarea name="description" id="description" class="form-control"></textarea>

                <div class="updateBtn mt-4">
                    <button class="btn">Enregistrer</button>
                </div>
            </form>
            
        </div>
    </div>
</div>