.navTitle a {
    color: #0F42A8;
    text-decoration: none;
}

table img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

table .thead tr td {
    text-align: center;
}

table .tbody tr {
    align-items: center;
}

.cardStatistique {
    border-radius: 20px;
}

.cardStatistique .cardImgStat img {
    height: 80px;
    width: 100%;
}

table .titreTab th {
    color: #0F42A8 !important;
}

table .detailIcon i {
    color: #0F42A8;
    font-size: 20px;
    cursor: pointer;
}

.tableCard button {
    background-color: black;
    font-weight: bold;
}

.search {
    /* border: 1px solid red; */
    width: 25%;
    position: relative;
    right: 0 !important;
    left: 75%;
}

.search .searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F42A8;
    padding: 0 15px;
}

.search .searchIcon i {
    color: white;
    font-size: 18px;
}

.pagine ul {
    border: none !important;
}

.pagine ul li {
    border: none !important;
}