<div class="signalementContain mx-4 py-4">
    <h3 class="alertTitle mb-3"><a href="" routerLink="/signalements">Signalements /</a></h3>

    <div class="row mb-3 mt-4">
        <div class="col-12 col-md-3">
            <div class="card rounded-3 shadow">
                <div class="card-head mx-3 mt-3">
                    <span class="nomCar">Version Accura Sport</span>
                    <img src="../../../../assets/images/profil/profil1.jpg" class="img-fluid" alt="">
                </div>
    
                <div class="card-body">
                    <img src="/assets/images/utilitairesCars/ut4-removebg-preview.png" alt="" class="img-fluid">
                    <button class="btn">Voir détail</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card rounded-3 shadow">
                <div class="card-head mx-3 mt-3">
                    <span class="nomCar">Version Accura Sport</span>
                    <img src="../../../../assets/images/profil/profil1.jpg" class="img-fluid" alt="">
                </div>
    
                <div class="card-body">
                    <img src="../../../../assets/images/motos/mt1.avif" alt="" class="img-fluid">
                    <button class="btn">Voir détail</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card rounded-3 shadow">
                <div class="card-head mx-3 mt-3">
                    <span class="nomCar">Version Accura Sport</span>
                    <img src="../../../../assets/images/profil/profil1.jpg" class="img-fluid" alt="">
                </div>
    
                <div class="card-body">
                    <img src="../../../../assets/images/motos/mt3-removebg-preview.png" alt="" class="img-fluid">
                    <button class="btn">Voir détail</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card rounded-3 shadow">
                <div class="card-head mx-3 mt-3">
                    <span class="nomCar">Version Accura Sport</span>
                    <img src="../../../../assets/images/profil/profil1.jpg" class="img-fluid" alt="">
                </div>
    
                <div class="card-body">
                    <img src="../../../../assets/images/utilitairesCars/ut2.webp" alt="" class="img-fluid">
                    <button class="btn">Voir détail</button>
                </div>
            </div>
        </div>
    </div>
</div>