<app-navbar></app-navbar>

<section class="bannerAuto mt-5"></section>

<section class="carListe py-3">
    <div class="carListeContainer container">
        <h2 class="text-center py-4">Trouvez-vous un véhicule</h2>
        <div class="trait mb-4"></div>

        <div class="carteAnnonces mb-5 container mt-3">
            <div class="row cartes m-0 g-4">
                
                <p class="vhls"><img src="/assets/images/vehicules/pointCar.png" class="" alt=""><a class="text-decoration-none" routerLink="voitures">Annonces de vente de voitures</a></p>
                
                <div class="col-12 col-md-4">
                    <div class="card shadow">
                        <div class="cardImg mx-3">
                            <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="cardTitle mx-3">
                            <span class="nom">Version Acura Sport</span>
                            <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid"
                                    alt=""></span>
                        </div>
                        <div class="cardTrait mb-3 mt-2"></div>
                        <div class="cardDetails mx-3">
                            <div class="left">
                                <p><img src="/assets/images/iconSvg/moteur.png" class="" alt="">6 Cylindres</p>
                                <p><img src="/assets/images/iconSvg/calendar.png" alt="">2019</p>
                                <p><img src="/assets/images/iconSvg/Transmission.png" alt="">Transmission</p>
                            </div>
                            <div class="Right">
                                <p><img src="/assets/images/iconSvg/dashboard.png" alt="">42 KM</p>
                                <p><img src="/assets/images/iconSvg/fuel.png" alt="">essence</p>
                                <p><img src="/assets/images/iconSvg/money.png" alt="">3.000.000 Fcfa</p>
                            </div>
                        </div>
                        <div class="cardTrait"></div>
                        <div class="cardButton mx-3 my-3">
                            <button class="btn"><a routerLink="/vehicules/voitures/detailVoiture">Consulter l'annonce</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card shadow">
                        <div class="cardImg mx-3">
                            <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="cardTitle mx-3">
                            <span class="nom">Version Acura Sport</span>
                            <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" alt=""></span>
                        </div>
                        <div class="cardTrait mb-3 mt-2"></div>
                        <div class="cardDetails mx-3">
                            <div class="left">
                                <p><img src="/assets/images/iconSvg/moteur.png" class="" alt="">6 Cylindres</p>
                                <p><img src="/assets/images/iconSvg/calendar.png" alt="">2019</p>
                                <p><img src="/assets/images/iconSvg/Transmission.png" alt="">Transmission</p>
                            </div>
                            <div class="Right">
                                <p><img src="/assets/images/iconSvg/dashboard.png" alt="">42 KM</p>
                                <p><img src="/assets/images/iconSvg/fuel.png" alt="">essence</p>
                                <p><img src="/assets/images/iconSvg/money.png" alt="">3.000.000 Fcfa</p>
                            </div>
                        </div>
                        <div class="cardTrait"></div>
                        <div class="cardButton mx-3 my-3">
                            <button class="btn"><a routerLink="/vehicules/voitures/detailVoiture">Consulter l'annonce</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card shadow">
                        <div class="cardImg mx-3">
                            <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="cardTitle mx-3">
                            <span class="nom">Version Acura Sport</span>
                            <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" alt=""></span>
                        </div>
                        <div class="cardTrait mb-3 mt-2"></div>
                        <div class="cardDetails mx-3">
                            <div class="left">
                                <p><img src="/assets/images/iconSvg/moteur.png" class="" alt="">6 Cylindres</p>
                                <p><img src="/assets/images/iconSvg/calendar.png" alt="">2019</p>
                                <p><img src="/assets/images/iconSvg/Transmission.png" alt="">Transmission</p>
                            </div>
                            <div class="Right">
                                <p><img src="/assets/images/iconSvg/dashboard.png" alt="">42 KM</p>
                                <p><img src="/assets/images/iconSvg/fuel.png" alt="">essence</p>
                                <p><img src="/assets/images/iconSvg/money.png" alt="">3.000.000 Fcfa</p>
                            </div>
                        </div>
                        <div class="cardTrait"></div>
                        <div class="cardButton mx-3 my-3">
                            <button class="btn"><a routerLink="/vehicules/voitures/detailVoiture">Consulter l'annonce</a></button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row cartes mt-2 g-4">
                
                <p class="vhls"><img src="/assets/images/vehicules/pointCar.png" class="" alt=""><a class="text-decoration-none" routerLink="motos">Annonces de vente de motos</a></p>
                
                <div class="col-12 col-md-4">
                    <div class="card shadow">
                        <div class="cardImg mx-3">
                            <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="cardTitle mx-3">
                            <span class="nom">Version Acura Sport</span>
                            <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" alt=""></span>
                        </div>
                        <div class="cardTrait mb-3 mt-2"></div>
                        <div class="cardDetails mx-3">
                            <div class="left">
                                <p><img src="/assets/images/iconSvg/moteur.png" class="" alt="">6 Cylindres</p>
                                <p><img src="/assets/images/iconSvg/calendar.png" alt="">2019</p>
                                <p><img src="/assets/images/iconSvg/Transmission.png" alt="">Transmission</p>
                            </div>
                            <div class="Right">
                                <p><img src="/assets/images/iconSvg/dashboard.png" alt="">42 KM</p>
                                <p><img src="/assets/images/iconSvg/fuel.png" alt="">essence</p>
                                <p><img src="/assets/images/iconSvg/money.png" alt="">3.000.000 Fcfa</p>
                            </div>
                        </div>
                        <div class="cardTrait"></div>
                        <div class="cardButton mx-3 my-3">
                            <button class="btn"><a routerLink="/vehicules/motos/detailMoto">Consulter l'annonce</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card shadow">
                        <div class="cardImg mx-3">
                            <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="cardTitle mx-3">
                            <span class="nom">Version Acura Sport</span>
                            <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" alt=""></span>
                        </div>
                        <div class="cardTrait mb-3 mt-2"></div>
                        <div class="cardDetails mx-3">
                            <div class="left">
                                <p><img src="/assets/images/iconSvg/moteur.png" class="" alt="">6 Cylindres</p>
                                <p><img src="/assets/images/iconSvg/calendar.png" alt="">2019</p>
                                <p><img src="/assets/images/iconSvg/Transmission.png" alt="">Transmission</p>
                            </div>
                            <div class="Right">
                                <p><img src="/assets/images/iconSvg/dashboard.png" alt="">42 KM</p>
                                <p><img src="/assets/images/iconSvg/fuel.png" alt="">essence</p>
                                <p><img src="/assets/images/iconSvg/money.png" alt="">3.000.000 Fcfa</p>
                            </div>
                        </div>
                        <div class="cardTrait"></div>
                        <div class="cardButton mx-3 my-3">
                            <button class="btn"><a routerLink="/vehicules/motos/detailMoto">Consulter l'annonce</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card shadow">
                        <div class="cardImg mx-3">
                            <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="cardTitle mx-3">
                            <span class="nom">Version Acura Sport</span>
                            <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" alt=""></span>
                        </div>
                        <div class="cardTrait mb-3 mt-2"></div>
                        <div class="cardDetails mx-3">
                            <div class="left">
                                <p><img src="/assets/images/iconSvg/moteur.png" class="" alt="">6 Cylindres</p>
                                <p><img src="/assets/images/iconSvg/calendar.png" alt="">2019</p>
                                <p><img src="/assets/images/iconSvg/Transmission.png" alt="">Transmission</p>
                            </div>
                            <div class="Right">
                                <p><img src="/assets/images/iconSvg/dashboard.png" alt="">42 KM</p>
                                <p><img src="/assets/images/iconSvg/fuel.png" alt="">essence</p>
                                <p><img src="/assets/images/iconSvg/money.png" alt="">3.000.000 Fcfa</p>
                            </div>
                        </div>
                        <div class="cardTrait"></div>
                        <div class="cardButton mx-3 my-3">
                            <button class="btn"><a routerLink="/vehicules/motos/detailMoto">Consulter l'annonce</a></button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row cartes mt-2 g-4">
    
                <p class="vhls"><img src="/assets/images/vehicules/pointCar.png" class="" alt=""><a class="text-decoration-none" routerLink="utilitaires">Annonces de vent de véhicules utilitaires</a></p>
            
                <div class="col-12 col-md-4">
                    <div class="card shadow">
                        <div class="cardImg mx-3">
                            <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="cardTitle mx-3">
                            <span class="nom">Version Acura Sport</span>
                            <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" alt=""></span>
                        </div>
                        <div class="cardTrait mb-3 mt-2"></div>
                        <div class="cardDetails mx-3">
                            <div class="left">
                                <p><img src="/assets/images/iconSvg/moteur.png" class="" alt="">6 Cylindres</p>
                                <p><img src="/assets/images/iconSvg/calendar.png" alt="">2019</p>
                                <p><img src="/assets/images/iconSvg/Transmission.png" alt="">Transmission</p>
                            </div>
                            <div class="Right">
                                <p><img src="/assets/images/iconSvg/dashboard.png" alt="">42 KM</p>
                                <p><img src="/assets/images/iconSvg/fuel.png" alt="">essence</p>
                                <p><img src="/assets/images/iconSvg/money.png" alt="">3.000.000 Fcfa</p>
                            </div>
                        </div>
                        <div class="cardTrait"></div>
                        <div class="cardButton mx-3 my-3">
                            <button class="btn"><a routerLink="/vehicules/utilitaires/detailUtilitaire">Consulter l'annonce</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card shadow">
                        <div class="cardImg mx-3">
                            <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="cardTitle mx-3">
                            <span class="nom">Version Acura Sport</span>
                            <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" alt=""></span>
                        </div>
                        <div class="cardTrait mb-3 mt-2"></div>
                        <div class="cardDetails mx-3">
                            <div class="left">
                                <p><img src="/assets/images/iconSvg/moteur.png" class="" alt="">6 Cylindres</p>
                                <p><img src="/assets/images/iconSvg/calendar.png" alt="">2019</p>
                                <p><img src="/assets/images/iconSvg/Transmission.png" alt="">Transmission</p>
                            </div>
                            <div class="Right">
                                <p><img src="/assets/images/iconSvg/dashboard.png" alt="">42 KM</p>
                                <p><img src="/assets/images/iconSvg/fuel.png" alt="">essence</p>
                                <p><img src="/assets/images/iconSvg/money.png" alt="">3.000.000 Fcfa</p>
                            </div>
                        </div>
                        <div class="cardTrait"></div>
                        <div class="cardButton mx-3 my-3">
                            <button class="btn"><a routerLink="/vehicules/utilitaires/detailUtilitaire">Consulter l'annonce</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card shadow">
                        <div class="cardImg mx-3">
                            <img src="../../../assets/images/cars/car-06.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="cardTitle mx-3">
                            <span class="nom">Version Acura Sport</span>
                            <span class="profil"><img src="../../../assets/images/profil/profil3.jpg" class="img-fluid" alt=""></span>
                        </div>
                        <div class="cardTrait mb-3 mt-2"></div>
                        <div class="cardDetails mx-3">
                            <div class="left">
                                <p><img src="/assets/images/iconSvg/moteur.png" class="" alt="">6 Cylindres</p>
                                <p><img src="/assets/images/iconSvg/calendar.png" alt="">2019</p>
                                <p><img src="/assets/images/iconSvg/Transmission.png" alt="">Transmission</p>
                            </div>
                            <div class="Right">
                                <p><img src="/assets/images/iconSvg/dashboard.png" alt="">42 KM</p>
                                <p><img src="/assets/images/iconSvg/fuel.png" alt="">essence</p>
                                <p><img src="/assets/images/iconSvg/money.png" alt="">3.000.000 Fcfa</p>
                            </div>
                        </div>
                        <div class="cardTrait"></div>
                        <div class="cardButton mx-3 my-3">
                            <button class="btn"><a routerLink="/vehicules/utilitaires/detailUtilitaire">Consulter l'annonce</a></button>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>

<section class="bannerEnd"></section>

<app-scroll-button></app-scroll-button>

<app-footer></app-footer>