<div class="blogsContain mx-4 py-4">
    <h3 class="mb-4"><a href="" routerLink="/blogs">Blogs /</a></h3>

    <div class="cartesBlogs mt-3 shadow px-4 py-4">
        <div class="headerBlog">
            <button class="btnAddBlog btn">Ajouter un blog</button>
            <span class="search d-flex justify-content-center align-content-center">
                <input type="search" class="form-control border-1 rounded-end-0" name="search" placeholder="faite une recherche...">
                <span class="searchIcon rounded-end-2"><i class="fa-solid fa-magnifying-glass"></i></span>
            </span>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-4">
                <div class="card p-2 shadow">
                    <div class="cardImg">
                        <img src="/assets/images/blogs/blg1.png" class="img-fluid  w-100" alt="">
                    </div>
                    <div class="cardbody mx-3 rounded-4">
                        <h5 class="cardtitle mb-3 mt-2 text-center">L'avenir de la vente de véhicule</h5>
                        <p class="cardtexte mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Sunt, quis non sit excepturi libero blanditiis. Aperiam quos
                            accusantium sequi itaque.
                        </p>
                        <div class="btnCard">
                            <button class="btn">Voir detail</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card p-2 shadow">
                    <div class="cardImg">
                        <img src="/assets/images/blogs/Blg2.png" class="img-fluid  w-100" alt="">
                    </div>
                    <div class="cardbody mx-3 rounded-4">
                        <h5 class="cardtitle mb-3 mt-2 text-center">L'avenir de la vente de véhicule</h5>
                        <p class="cardtexte mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Sunt, quis non sit excepturi libero blanditiis. Aperiam quos
                            accusantium sequi itaque.
                        </p>
                        <div class="btnCard">
                            <button class="btn">Voir detail</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card p-2 shadow">
                    <div class="cardImg">
                        <img src="/assets/images/blogs/Blg4.png" class="img-fluid  w-100" alt="">
                    </div>
                    <div class="cardbody mx-3 rounded-4">
                        <h5 class="cardtitle mb-3 mt-2 text-center">L'avenir de la vente de véhicule</h5>
                        <p class="cardtexte mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Sunt, quis non sit excepturi libero blanditiis. Aperiam quos
                            accusantium sequi itaque.
                        </p>
                        <div class="btnCard">
                            <button class="btn">Voir detail</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="pagine mt-5 mb-3 p-0 d-flex justify-content-end">
            <ul class="pagination m-0 ">
                <li class="page-item">
                    <a class="page-link"><i class="fa-solid fa-angles-left"></i></a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item" aria-current="page">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="fa-solid fa-angles-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>