<div class="profilContain py-3 mx-4">
    <h3 class="navTitle mb-3"><a routerLink="">Annonces / Voitures / détail annonce</a></h3>

    <div class="profil mt-4 shadow rounded-4 py-3 px-4">
        <div class="row mt-3">
            <div class="col-12 col-md-7">
                <div class="contentL d-flex">
                    <img src="/assets/images/car-06-removebg-preview.png" alt="" class="img-fluid w-25">
                    <span>Vesion Acura Sport</span>
                </div>
                <div class="text-detail">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae asperiores a quos aspernatur.
                        Molestias minus nobis
                        nulla voluptatem aliquid, cumque illo, modi quo autem placeat quaerat ab dolores, laboriosam
                        dignissimos ipsam facilis
                        tempora doloribus voluptates ratione dolore corrupti provident! Doloribus.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="contentR">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <img src="/assets/images/profil/profil1.jpg" class="img-fluid rounded-4" alt="">
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="infos">Adama Diouf</p>
                            <p class="infos">Propriétaire</p>
                            <p class="infos">Dakar</p>
                            <p class="infos">adamadiouf@gmail.com</p>
                        </div>
                    </div>
                    <div class="iconsprop mt-3">
                        <span><i class="fa-brands fa-whatsapp"></i></span>
                        <span><i class="fa-brands fa-facebook-f"></i></span>
                        <span><i class="fa-solid fa-envelope"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="middleDetail mb-3">
            <span>Détail de l'annonce</span>
        </div>
        <hr>

        <div class="contentDetail">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="infosV">
                        <p class="libelle">Moteur:</p>
                        <p class="value">6 cylindres</p>
                    </div>
                    <div class="infosV">
                        <p class="libelle">Kilométrage:</p>
                        <p class="value">42 Km</p>
                    </div>
                    <div class="infosV">
                        <p class="libelle">Année:</p>
                        <p class="value">2019</p>
                    </div>
                    <div class="infosV">
                        <p class="libelle">Carburant:</p>
                        <p class="value">Essence</p>
                    </div>
                    <div class="infosV">
                        <p class="libelle">Prix:</p>
                        <p class="value">3.000.000 Fcfa</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 positionR">
                    <div class="boutons">
                        <button class="btnBlue btn">Désactiver</button>
                        <button class="btnBlack btn"><a href="" routerLink="mes_annonces">Fermer</a></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>